<a href="https://colab.research.google.com/github/XiadaniCue/Simulaci-n-1/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
nsemilla=1234
cuadrado=nsemilla**2
print("La primera semilla es: ",nsemilla)
print("El primer cuadrado es:",cuadrado)
#print(type(cuadrado))
num=list(str(cuadrado))
#print(num)


for i in range(0, 10):

    if len(num)==8:
                num1=(num[2]+num[3]+num[4]+num[5])
               # print(num1)
                nsemilla=int(num1)
                cuadrado=nsemilla**2
                print(i+1,".""La nueva semilla es:",nsemilla,".Y elevada al cuadrado es: ",cuadrado)
                print()
                i=i+1;
                num=list(str(cuadrado))
    else:
                num0=[0]+num
              #  print(num0)
                num1=(num0[2]+num0[3]+num0[4]+num0[5])
               # print(num1)
                nsemilla=int(num1)
                cuadrado=nsemilla**2
                print(i+1,".La nueva semilla es: ",nsemilla,".Y elevada al cuadrado es: ",cuadrado)
                print()
                num=list(str(cuadrado))
                i=i+1;

La primera semilla es:  1234
El primer cuadrado es: 1522756
1 .La nueva semilla es:  5227 .Y elevada al cuadrado es:  27321529

2 .La nueva semilla es: 3215 .Y elevada al cuadrado es:  10336225

3 .La nueva semilla es: 3362 .Y elevada al cuadrado es:  11303044

4 .La nueva semilla es: 3030 .Y elevada al cuadrado es:  9180900

5 .La nueva semilla es:  1809 .Y elevada al cuadrado es:  3272481

6 .La nueva semilla es:  2724 .Y elevada al cuadrado es:  7420176

7 .La nueva semilla es:  4201 .Y elevada al cuadrado es:  17648401

8 .La nueva semilla es: 6484 .Y elevada al cuadrado es:  42042256

9 .La nueva semilla es: 422 .Y elevada al cuadrado es:  178084

10 .La nueva semilla es:  7808 .Y elevada al cuadrado es:  60964864